# Firebase config (firebase apps:sdkconfig で取得した値を入れる)
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=kibunya-app.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=kibunya-app
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=kibunya-app.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=
